@import '~@synerty/peek-theme/scss/_variables.web';



.peek-ds-main-header {
    top: 0;
    width: $desktop_side_bar_width;
    height: $title_bar_height + $title_bar_height;
    position: fixed;
    display: flex;
    overflow: hidden;
    background-color: $white;
    z-index: 1;
}

.peek-ds-mh-title {
    top: 0;
    width: $desktop_side_bar_width;
    line-height: $title_bar_height;
    text-align: center;
    font-size: $general_font_size_3;
    color: $black;
}

.peek-ds--mh-buttons-row {
    background-color: $brand;
}

.peek-ds-mh-buttons {
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: $general_font_size_3;
    border-radius: 0;
    background-color: $brand;
    height: $title_bar_height;
    margin-right: 0;
    display: inline-block;
    position: relative;
    min-width: $title_bar_button_min_width;
}
