@charset "UTF-8";

/* temporary hacks for applications */

div.form-inner-container,   // authentic
div#pages-list,  // combo
div.placeholder, // combo
table.agenda-table,  // chrono
div#appbar + form,  // misc
div#appbar + ul.messages + form,  // misc
div#main-content > h2:first-child + form,  // w.c.s.
div.form-validation form, // w.c.s.
div#appbar + div#description  // passerelle
{
	background: white;
	padding: 0.5rem;
	border-radius: 3px;
	box-sizing: border-box;
}

div.other_actions { // authentic
	margin-left: 71%;
	width: 29%;
}

div div.bo-block ul.biglist { // w.c.s.
	margin: -1ex;
}

div div.bo-block h3 ~ ul.biglist { // w.c.s.
	margin: 0 -1ex;
	margin: 0 calc(-1ex + 1px) calc(-1ex + 1px) calc(-1ex + 1px);
}

div div.bo-block ul.biglist p.details.badge { // w.c.s.
	background: $primary-color;
}

body.welco-home div#main-content {
	background: white;
	margin: 0;
}
