@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);

/* markdown stuff here */

tt, code, pre {
   font-family: 'Droid Sans Mono', monospace;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre { 
   margin-top: 0;
   max-width: 95%;
   border: 1px solid #ccc;
}

pre code {
   display: block; padding: 0.5em;
}

code.r {
   background-color: #F8F8F8;
}

table, td, th {
  border: none;
}

blockquote {
   color:#666666;
   margin:0;
   padding-left: 1em;
   border-left: 0.5em #EEE solid;
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}

img { 
    max-width: 70% !important; 
}

/***********
real styles here 
*/

body {
    font-size: 12pt;
    font-family: 'Gilda Display';
    padding: 0 2em;
}

#series {
    font-family: 'Alegreya Sans', serif;
}

h1, h2, h3, h4  {
  font-family: 'Alegreya Sans', serif;
}

h1 {
  font-size: 26pt;
  text-align: center;
  margin: 1em;
  padding: 0 0 0.4em 0;
}

h2 {
  text-align: center;
  margin: 1em 3em;
}

h2 {
  font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.1em;
}

img {
  display: block;
  margin: 0px auto;
}

#series {
    text-align: center;
    font-size: 40pt;
    clear: both;
}

#authors {
    text-align: center;
}

#version {
    font-size: 8pt;
    padding: 1em;
    font-family: 'Droid Sans Mono', monospace;
}

#authors ul, #version ul {
  list-style-type: none;
  padding-left: 0;
}

pre {
    font-size: 8pt;
}

table {
  border: 1px solid;
  margin: 1em auto;
  font-size: 0.7em;
  font-family: 'Droid Sans Mono', monospace;
}

th {
  background-color: #F0F0F0;
  font-size: 10pt;
  padding: 0.5em;
}

td:first-child, th:first-child {
  border-right: 1px solid;
  text-align: left
}

td {
  padding: 0.4em;
  text-align: right;
}

/* numbering */

body {
  counter-reset: h2counter;
}

h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

/**************
Printing
********/

@page {
    margin-top: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
    counter-increment: page;
    counter-reset: page 1;

    @top-right {
        content: "page" counter(page);
    }
}

@media print {
  body {
    padding: 0;
  }

   a, a:visited { 
      text-decoration: underline; 
   }

   hr { 
      visibility: hidden;
      page-break-before: always;
   }

   pre, blockquote { 
      padding-right: 1em; 
      page-break-inside: avoid; 
   }

  pre {
    font-size: 7pt;
  }

   tr, img { 
      page-break-inside: avoid; 
   }

   p, h2, h3 { 
      orphans: 3; widows: 3; 
   }

   h2 { 
      page-break-before: always; 
   }

   h3 { 
      page-break-after: avoid; 
   }

  table {
    page-break-inside: avoid;
  }

  #series {
    padding-top: 3em;
  }
}
